@tailwind base;
@tailwind components;
@tailwind utilities;

.success-snackbar {
    background-color: #22c55e !important; /* Tailwind green-500 */
    color: #ffffff !important;
    font-weight: 500;
  }

.error-snackbar {
    background-color: #ee0e0e !important; /* Tailwind green-500 */
    color: #ffffff !important;
    font-weight: 500;
  }
